@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
  background: #636363;
}

@media screen and (min-width: 640px) {
  .bg-parallax {
    background-attachment: fixed;
  }
}
